<H1>Play Game (<%=h session[:user_name] %>) &nbsp;&nbsp;&nbsp; TURNS: <%= session[:turns] %>,
  SOLDIERS: <%= session[:soldiers] %></h1>

<iframe src ="/game/game.html" width="100%" height="90%">
  <p>Your browser does not support iframes.</p>
</iframe>
<br>
<br>