<H1>DGame Ranking</H1>

<table width=600 border="1" cellspacing="0" cellpadding="3" bordercolor="#000066" >
  <tr>
    <th>User name </th>
    <th>Total Zones</th>
    <th>Turns</th>
    <th>Soldiers</th>
  </tr>
  <% for rank in @user_ranking %>
  <tr>
    <td><%=h rank.name %></td>
    <td><%=h rank.total_zones %></td>
    <td><%=h rank.turns %></td>
    <td><%=h rank.total_soldiers %></td>
  </tr>
  <% end %>
</table>