<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Contested Earth</title>
	<link rel="StyleSheet" type="text/css" href="reset.css" />	<!-- Reset CSS file. -->
	<script type="text/javascript" src="bdetect.js"></script> 	<!-- Browser detection from http://www.quirksmode.org/js/detect.html -->
	<script type="text/javascript" src="common.js"></script> 	<!-- Does the browser detection. -->
</head>
<body>
	<%= yield %>
</body>
</html>